* {
    background-color: #dbe6da;
    text-align: center;
    color: #3d5741;
}

body {
    margin: 0;
}

li {
    text-align: left;
    line-height:200%;
    font-size: 18px;
    margin-left: 10%;
}

h1 {
    font-size: 60px;
    height: 100px;
    width: 100%;
    margin-bottom:50px;
    margin-top: 0px;
}

hr {
    border-color: #759473;
    margin-top: 80px;
    margin-bottom: 40px;
    justify-content: center;
    width: 90%;
}

.container {
    background-color: #86a884;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #3d5741;
    border-style: solid;
    border-width: 2px;
}

 .text_container {
    display: inline-block;
    background-color: #86a884;
    justify-content: center;
    align-items: center;
    border-color: #3d5741;
    border-style: solid;
    border-width: 2px;
    padding: 15px;
}
